




.decription {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 24px/12px "Comic Sans MS", cursive, sans-serif;
  color: black;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #003399;
}
.GpaType {
 
  
  font: normal 24px/12px "Comic Sans MS", cursive, sans-serif;
  color: black;
  text-align: center;
  
 
}
.RadioButtona{
  height: 200px;
  position: relative;
  border: 3px solid green;

}

#labelID{

  display: block;
    text-align: center;
    line-height: 150%;
    font-size: .85em;
}